<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body
    style="
      padding: 0px 10%;
      margin: 0px;
      box-sizing: border-box;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      width: auto;
      height: 100vh;
      overflow: auto;
      position: relative;
    "
  >
    <div style="height: 100%; position: relative; align-items: center">
      <img
        style="margin: auto; display: block; width:40%; height: auto;"
        src="https://creslincare.com/assets/60844c211e503fe58fa4e337_logo-p-500.png"
      />
      <hr style="width: 100%" />
      <h3 style="margin: 50px 0px; padding: 0px 10px; text-align: center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </h3>
      <img style="height: 500px;display: block; margin: auto;" src="https://res.cloudinary.com/zaprinto/image/upload/v1626893339/temp/1.png">
      <div style="padding: 50px 10px; width: 100%">
        <button
          style="
            height: 70px;
            width: 200px;
            text-align: center;
            background-color: #0c9ca1;
            color: white;
            border: none;
            border-radius: 2px;
            display: block;
            margin: auto;
          "
        >
          Get Started
        </button>
      </div>
      <h3 style="margin: 50px 0px; padding: 0px 10px; text-align: justify;">
        Contrary to popular belief, Lorem Ipsum is not simply random text. It
        has roots in a piece of classical Latin literature from 45 BC, making it
        over 2000 years old. Richard McClintock, a Latin professor at
        Hampden-Sydney College in Virginia, looked up one of the more obscure
        Latin words, consectetur, from a Lorem Ipsum passage, and going through
        the cites of the word in classical literature, discovered the
        undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
        of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
        Cicero, written in 45 BC. This book is a treatise on the theory of
        ethics, very popular during the Renaissance. The first line of Lorem
        Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
        1.10.32.
      </h3>
      <hr style="width: 100%" />
      <div
        style="width: 100%; margin: 50px 0px; padding: 0px 10px; height: 210px"
      >
        <h4 style="text-align: center">
          If you would prefer to no longer receive messages like this, you can
          <span style="text-decoration: underline">unsubscribe.</span>
        </h4>
        <h4 style="text-align: center">
          Privacy policy - Contact us - Read our blog
        </h4>
        <h4 style="text-align: center">
          Copyright 2021 Creslin Care Ltd. All rights reserved.
        </h4>
      </div>
    </div>
  </body>
</html>
